# Set
-  represented by {value}
- unique

In [6]:
aset = {1,2,1,1,3,4,5}

In [7]:
type(aset)

set

In [9]:
aset

{1, 2, 3, 4, 5}

# Tuple

In [10]:
fruits = 'apples'

In [11]:
fruits = 'apples', 'oranges'    # packing

In [12]:
fruits

('apples', 'oranges')

In [14]:
counts  = (12,24,6,12)

In [15]:
counts

(12, 24, 6, 12)

In [16]:
apples,oranges, eggs, bananas = counts # unpacking

In [17]:
apples

12

In [18]:
oranges

24

In [20]:
eggs

6

In [21]:
bananas

12

In [22]:
alist = ['laptops', 'mobilephone']

In [23]:
a,b = alist

In [24]:
a

'laptops'

In [25]:
b

'mobilephone'

In [29]:
# write your name ten thousands times
print("Asadullah")
print("Asadullah")
print("Asadullah")
print("Asadullah")
print("Asadullah")
print("Asadullah")
print("Asadullah")
print("Asadullah")
print("Asadullah")
print("Asadullah")

Asadullah
Asadullah
Asadullah
Asadullah
Asadullah
Asadullah
Asadullah
Asadullah
Asadullah
Asadullah

# Loops: 
    # - for in       required: any collection
    # - While Loop

In [35]:
for a in range(10): #0,1,2,3,4,5,6,7,8,9
    print(a,'Nasir Hussain')

0 Nasir Hussain
1 Nasir Hussain
2 Nasir Hussain
3 Nasir Hussain
4 Nasir Hussain
5 Nasir Hussain
6 Nasir Hussain
7 Nasir Hussain
8 Nasir Hussain
9 Nasir Hussain

In [37]:
for a in range(1,10): #0,1,2,3,4,5,6,7,8,9
    print(a,'Nasir Hussain')

1 Nasir Hussain
2 Nasir Hussain
3 Nasir Hussain
4 Nasir Hussain
5 Nasir Hussain
6 Nasir Hussain
7 Nasir Hussain
8 Nasir Hussain
9 Nasir Hussain

In [39]:
for a in range(1,20,3): #0,1,2,3,4,5,6,7,8,9
    print(a,'Nasir Hussain')

1 Nasir Hussain
4 Nasir Hussain
7 Nasir Hussain
10 Nasir Hussain
13 Nasir Hussain
16 Nasir Hussain
19 Nasir Hussain

In [42]:
for a in range(20,0,-1): #0,1,2,3,4,5,6,7,8,9
    print(a,'Nasir Hussain')

20 Nasir Hussain
19 Nasir Hussain
18 Nasir Hussain
17 Nasir Hussain
16 Nasir Hussain
15 Nasir Hussain
14 Nasir Hussain
13 Nasir Hussain
12 Nasir Hussain
11 Nasir Hussain
10 Nasir Hussain
9 Nasir Hussain
8 Nasir Hussain
7 Nasir Hussain
6 Nasir Hussain
5 Nasir Hussain
4 Nasir Hussain
3 Nasir Hussain
2 Nasir Hussain
1 Nasir Hussain

In [43]:
for a in range(1,10):
    if a==5:
        break
    else:
        print(a,'Nasir Hussain')

1 Nasir Hussain
2 Nasir Hussain
3 Nasir Hussain
4 Nasir Hussain

In [44]:
for a in range(1,10):
    if a==5:
        continue
    else:
        print(a,'Nasir Hussain')

1 Nasir Hussain
2 Nasir Hussain
3 Nasir Hussain
4 Nasir Hussain
6 Nasir Hussain
7 Nasir Hussain
8 Nasir Hussain
9 Nasir Hussain

In [45]:
students  = ['ali', 'arif','maaz','imran', 'aman','asad','hassan','nawaz sharif', 'baber khan','hafiz muneer']

In [46]:
print(f'{students[0]}  kal off hy ')

ali  kal off hy

In [47]:
print(f'{students[1]}  kal off hy ')

arif  kal off hy

In [48]:
print(f'{students[2]}  kal off hy ')

maaz  kal off hy

In [49]:
print(f'{students[3]}  kal off hy ')

imran  kal off hy

In [50]:
print(f'{students[4]}  kal off hy ')

aman  kal off hy

In [51]:
print(f'{students[5]}  kal off hy ')

asad  kal off hy

In [52]:
for student in students:
    print(f'{student}  kal off hy ')

ali  kal off hy
arif  kal off hy
maaz  kal off hy
imran  kal off hy
aman  kal off hy
asad  kal off hy
hassan  kal off hy
nawaz sharif  kal off hy
baber khan  kal off hy
hafiz muneer  kal off hy

In [53]:
for student in students:
    if student.startswith('a'):
        print(f'{student}  kal off hy ')
    else:
        print(f'{student}  kal zaror ana hy ')

ali  kal off hy
arif  kal off hy
maaz  kal zaror ana hy
imran  kal zaror ana hy
aman  kal off hy
asad  kal off hy
hassan  kal zaror ana hy
nawaz sharif  kal zaror ana hy
baber khan  kal zaror ana hy
hafiz muneer  kal zaror ana hy

In [55]:
for student in students:
    if not student.startswith('a'):
        if len(student)>5:
            print(f"{student} Kal off hy ")

hassan Kal off hy
nawaz sharif Kal off hy
baber khan Kal off hy
hafiz muneer Kal off hy

In [56]:
for student in students:
    if (not student.startswith('a') and (len(student)>5)):
        print(f"{student} Kal off hy ")

hassan Kal off hy
nawaz sharif Kal off hy
baber khan Kal off hy
hafiz muneer Kal off hy

In [57]:
khans = []

In [58]:
students

['ali',
 'arif',
 'maaz',
 'imran',
 'aman',
 'asad',
 'hassan',
 'nawaz sharif',
 'baber khan',
 'hafiz muneer']

In [59]:
for student in students:
    khans.append(student+" Khan")

In [60]:
khans

['ali Khan',
 'arif Khan',
 'maaz Khan',
 'imran Khan',
 'aman Khan',
 'asad Khan',
 'hassan Khan',
 'nawaz sharif Khan',
 'baber khan Khan',
 'hafiz muneer Khan']

In [61]:
guest = []

In [62]:
'ali' in students

True

In [63]:
for a in range(10):
    name = input("Enter name")
    guest.append(name)
    
guest

Enter named
Enter namea
Enter names
Enter named
Enter nameg
Enter namegh
Enter nameh
Enter namej
Enter namej
Enter namej

['d', 'a', 's', 'd', 'g', 'gh', 'h', 'j', 'j', 'j']

# set   represented by {values}
   - values must be unique

In [1]:
aset={1,2,3,45,6,}

In [2]:
aset

{1, 2, 3, 6, 45}

In [3]:
type(aset)

set

# Tuple (values)

In [5]:
fruits=('orange','apple','banana','lemon')

In [6]:
fruits

('orange', 'apple', 'banana', 'lemon')

In [8]:
type(fruits)

tuple

# loops 
## for loop :need any collection
## while loop: need a condition

In [9]:
for a in range(10):
    print(a,'sajid rehman')

0 sajid rehman
1 sajid rehman
2 sajid rehman
3 sajid rehman
4 sajid rehman
5 sajid rehman
6 sajid rehman
7 sajid rehman
8 sajid rehman
9 sajid rehman

In [13]:
for a in range(1,10):
    if a==5:
        break
    print(a,'sajid rehman')

1 sajid rehman
2 sajid rehman
3 sajid rehman
4 sajid rehman

In [14]:
for a in range(10):
    if a==5:
        continue
    print(a,'sajid rehman')

0 sajid rehman
1 sajid rehman
2 sajid rehman
3 sajid rehman
4 sajid rehman
6 sajid rehman
7 sajid rehman
8 sajid rehman
9 sajid rehman

In [8]:
students={'name':'sajid','saad','anas','ahmad','sultan'}

In [9]:
for student in students():
    print(f"{name} kall off hai")

TypeError: 'dict' object is not callable

In [25]:
students1  = ['ali', 'arif','maaz','imran', 'aman','asad','hassan','nawaz sharif', 'baber khan','hafiz muneer']

In [29]:
print(f"{students1[0]} kall off hai")

ali kall off hai

In [30]:
print(f"{students1[1]} kall off hai")

arif kall off hai

In [31]:
print(f"{students1[2]} kall off hai")

maaz kall off hai

In [32]:
print(f"{students1[3]} kall off hai")

imran kall off hai

In [37]:
for student in students1:
    print(f"{student} kall off hai")

ali kall off hai
arif kall off hai
maaz kall off hai
imran kall off hai
aman kall off hai
asad kall off hai
hassan kall off hai
nawaz sharif kall off hai
baber khan kall off hai
hafiz muneer kall off hai

In [35]:
for student in students:
    print(f'{student}  kal off hy ')

ali  kal off hy
arif  kal off hy
maaz  kal off hy
imran  kal off hy
aman  kal off hy
asad  kal off hy
hassan  kal off hy
nawaz sharif  kal off hy
baber khan  kal off hy
hafiz muneer  kal off hy

In [38]:
for student in students1:
    if student startwith(a):
        break
        else:
            print(f"{student} kall off hai")

SyntaxError: invalid syntax (1747422707.py, line 2)

In [10]:
students  = ['ali', 'arif','maaz','imran', 'aman','asad','hassan','nawaz sharif', 'baber khan','hafiz muneer']

In [11]:
for student in students:
    print(f"{students} good night")

['ali', 'arif', 'maaz', 'imran', 'aman', 'asad', 'hassan', 'nawaz sharif', 'baber khan', 'hafiz muneer'] good night
['ali', 'arif', 'maaz', 'imran', 'aman', 'asad', 'hassan', 'nawaz sharif', 'baber khan', 'hafiz muneer'] good night
['ali', 'arif', 'maaz', 'imran', 'aman', 'asad', 'hassan', 'nawaz sharif', 'baber khan', 'hafiz muneer'] good night
['ali', 'arif', 'maaz', 'imran', 'aman', 'asad', 'hassan', 'nawaz sharif', 'baber khan', 'hafiz muneer'] good night
['ali', 'arif', 'maaz', 'imran', 'aman', 'asad', 'hassan', 'nawaz sharif', 'baber khan', 'hafiz muneer'] good night
['ali', 'arif', 'maaz', 'imran', 'aman', 'asad', 'hassan', 'nawaz sharif', 'baber khan', 'hafiz muneer'] good night
['ali', 'arif', 'maaz', 'imran', 'aman', 'asad', 'hassan', 'nawaz sharif', 'baber khan', 'hafiz muneer'] good night
['ali', 'arif', 'maaz', 'imran', 'aman', 'asad', 'hassan', 'nawaz sharif', 'baber khan', 'hafiz muneer'] good night
['ali', 'arif', 'maaz', 'imran', 'aman', 'asad', 'hassan', 'nawaz sharif', 'baber khan', 'hafiz muneer'] good night
['ali', 'arif', 'maaz', 'imran', 'aman', 'asad', 'hassan', 'nawaz sharif', 'baber khan', 'hafiz muneer'] good night

In [19]:


for student in students:
    if student == "hafiz muneer":
        print(f"{student} ka call off hai")  # Assuming you want to print something specific for this student
    else:
        print(f"{student} ka call off hai")  # The message for other students

ali ka call off hai
arif ka call off hai
maaz ka call off hai
imran ka call off hai
aman ka call off hai
asad ka call off hai
hassan ka call off hai
nawaz sharif ka call off hai
baber khan ka call off hai
hafiz muneer ka call off hai