# Reading and Writing Files

In this exercise, we will test your knowledge of reading and writing files by playing around with some text files. 
<br><br>
Let's say we have a text file containing current visitors at a hotel.  We'll call it, *guests.txt*.  Run the following code to create the file.  The file will automatically populate with each initial guest's first name on its own line.

In [1]:
guests = open("guests.txt", "w")
initial_guests = ["Bob", "Andrea", "Manuel", "Polly", "Khalid"]

for i in initial_guests:
    guests.write(i + "\n")
    
guests.close()

No output is generated for the above code cell.  To check the contents of the newly created *guests.txt* file, run the following code.

In [8]:
with open("guests.txt") as guests:
    for line in guests:
        print(line, end='')

Bob
Andrea
Manuel
Polly
Khalid

In [10]:
with open("guests.txt") as guests:
    for line in guests:
        if "Polly" in line:
            continue
        print(line, end='')

Bob
Andrea
Manuel
Khalid

In [12]:
with open("guests.txt") as guests:
    content = guests.readlines()
content

['Bob\n', 'Andrea\n', 'Manuel\n', 'Polly\n', 'Khalid\n']

In [11]:
with open('guests.txt') as g:
    print(g.read())

Bob
Andrea
Manuel
Polly
Khalid

The output shows that our *guests.txt* file is correctly populated with each initial guest's first name on its own line.  Cool!
<br><br>
Now suppose we want to update our file as guests check in and out.  Fill in the missing code in the following cell to add guests to the *guests.txt* file as they check in.

In [13]:
new_guests = ["Sam", "Danielle", "Jacob"]

with open("guests.txt", 'a') as guests:
    for i in new_guests:
        guests.write(i + "\n")

guests.close()

In [15]:
new_guests = ["Peter", "Anas", "Fahad"]

with open("guests.txt", 'a') as guests:
    for i in new_guests:
        guests.write(i)

guests.close()

To check whether your code correctly added the new guests to the *guests.txt* file, run the following cell.

In [16]:
with open("guests.txt") as guests:    
    for line in guests:
        print(line,end = '')

Bob
Andrea
Manuel
Polly
Khalid
Sam
Danielle
Jacob
PeterAnasFahad

The current names in the *guests.txt* file should be:  Bob, Andrea, Manuel, Polly, Khalid, Sam, Danielle and Jacob.
<br><br>
Was the *guests.txt* file correctly appended with the new guests? If not, go back and edit your code making sure to fill in the gaps appropriately so that the new guests are correctly added to the *guests.txt* file.  Once the new guests are successfully added, you have filled in the missing code correctly.  Great!
<br><br>
Now let's remove the guests that have checked out already.  There are several ways to do this, however, the method we will choose for this exercise is outlined as follows:
1. Open the file in "read" mode.
2. Iterate over each line in the file and put each guest's name into a Python list.
3. Open the file once again in "write" mode.
4. Add each guest's name in the Python list to the file one by one.

<br>
Ready? Fill in the missing code in the following cell to remove the guests that have checked out already.

In [17]:
checked_out=["Andrea", "Manuel", "Khalid"]
temp_list=[]

with open("guests.txt", 'r') as guests:
    for g in guests:
        temp_list.append(g.strip())

with open("guests.txt", 'w+') as guests:
    for name in temp_list:
        if name not in checked_out:
            guests.write(name + "\n")

To check whether your code correctly removed the checked out guests from the *guests.txt* file, run the following cell.

In [13]:
with open("guests.txt") as guests:
    for line in guests:
        print(line, end = '')

Bob
Polly
Sam
Danielle
Jacob

The current names in the *guests.txt* file should be:  Bob, Polly, Sam, Danielle and Jacob.
<br><br>
Were the names of the checked out guests correctly removed from the *guests.txt* file? If not, go back and edit your code making sure to fill in the gaps appropriately so that the checked out guests are correctly removed from the *guests.txt* file. Once the checked out guests are successfully removed, you have filled in the missing code correctly. Awesome!
<br><br>
Now let's check whether Bob and Andrea are still checked in.  How could we do this? We'll just read through each line in the file to see if their name is in there.  Run the following code to check whether Bob and Andrea are still checked in.

In [19]:
guests_to_check = ['Bob', 'Andrea']
checked_in = []

with open("guests.txt","r") as guests:
    for g in guests:
        checked_in.append(g.strip())
    for check in guests_to_check:
        if check in checked_in:
            print("{} is checked in".format(check))
        else:
            print("{} is not checked in".format(check))

Bob is checked in
Andrea is not checked in

We can see that Bob is checked in while Andrea is not.  Nice work! You've learned the basics of reading and writing files in Python!

# Functions Revision

# Arguments and Parametes

In [20]:
def say_hello(name):# parameter
    print("Hello", name)

In [22]:
say_hello("Hassan")# argument

Hello Hassan

#### There can be many parameters ina function. 
#### All the arguments sent to parameters are positional arguments

In [23]:
def say_full_name(first_name, last_name):
    print("Welcome", first_name, last_name)

In [24]:
say_full_name('Nasir', 'Hussain')

Welcome Nasir Hussain

In [25]:
say_full_name('Hussain' ,'Nasir', )

Welcome Hussain Nasir

In [26]:
def calcualte_bill(units,cost,tax,tvlfee,):
    return (units*cost)+(units*cost)*tax+ tvlfee

In [27]:
calcualte_bill(23,20,.25,50)

625.0

# KeyWord Arguments

In [28]:
calcualte_bill(cost=23,units=20,tax=.25,tvlfee=50)

625.0

# Default Parameter Values `

In [29]:
def calcualte_bill(units,cost,tax,tvlfee=50):
    return (units*cost)+(units*cost)*tax+ tvlfee

In [30]:
calcualte_bill(234,45,.26,100)

13367.8

In [31]:
calcualte_bill(234,45,.26)

13317.8

In [32]:
def calcualte_bill(tvlfee=50,units,cost,tax,):
    return (units*cost)+(units*cost)*tax+ tvlfee

SyntaxError: non-default argument follows default argument (414421544.py, line 1)

In [33]:
calcualte_bill(units=200,50,.50)

SyntaxError: positional argument follows keyword argument (1672539512.py, line 1)

In [34]:
calcualte_bill(50,.50,units=200)

TypeError: calcualte_bill() got multiple values for argument 'units'

In [41]:
def calcualte_bill(cost,tax,units, tvlfee=50):
    return (units*cost)+(units*cost)*tax+ tvlfee

In [42]:
calcualte_bill(50,.50,units=200)

15050.0

# Passing Arbitrary(not a fixed) Number of Arguments

In [46]:
def add(n1,n2):
    return n1+n2

In [47]:
add(12,13)

25

In [49]:
add(1,2,3)

TypeError: add() takes 2 positional arguments but 3 were given

In [50]:
add(1)

TypeError: add() missing 1 required positional argument: 'n2'

In [51]:
def add(n1=0,n2=0):
    return n1+n2

In [52]:
add(23,45)

68

In [53]:
add(34)

34

In [54]:
add()

0

In [55]:
add(23,45)

68

function overloading
def add(), add(n), add(n,n), add(n,n,n)

python doesn't support method / function overloading

In [58]:
def add():
    return 100

In [59]:
def add(v1,v2):
    return v1+v2

In [60]:
add()

TypeError: add() missing 2 required positional arguments: 'v1' and 'v2'

# ArbitraryArguments

In [63]:
def add(*n):
    print(n)

In [64]:
add(12,13,1,2,3,4,5,6,7,8,9)

(12, 13, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [65]:
def make_profile(name,fname,age,qualification,*other_info):
    print(name)
    print(fname)
    print(age)
    print(qualification)
    print(other_info)

In [66]:
make_profile('Nasir','Hussain', 12,'Matric', 'B+', "Karachi", 'UoK', 'Pakoray')

Nasir
Hussain
12
Matric
('B+', 'Karachi', 'UoK', 'Pakoray')

In [69]:
def make_profile(name,fname,age,qualification,*other_info):
    print(name)
    print(fname)
    print(age)
    print(qualification)
    
    for info in other_info:
        print(info)

In [70]:
make_profile('Nasir','Hussain', 12,'Matric', 'B+', "Karachi", 'UoK', 'Pakoray')

Nasir
Hussain
12
Matric

TypeError: 'tuple' object does not support item assignment

# Arbitrary KeyWord Arguments

In [71]:
def profile_builder(name, fname,age, qualification, **other_info):
    '''
    This function takes key-word arguments and stores in a form of 
    dictionary. 
    and returns the complete profile of a user in the form of dictionary
    
    arbitrary parameter that revceives keyword arguments is made using **
    it stores keywords arguments as dictionary key-value
    
    '''
    profile={}
    profile['name'] = name
    profile['fname'] = fname
    profile['age']=age
    profile['qualification'] = qualification
    print(profile)
    print(other_info)

In [72]:
profile_builder(name='Albert',fname='Einestein', age=20, qualification='Matric',location="Peshawar", subject="Python", gender="Male" )

{'name': 'Albert', 'fname': 'Einestein', 'age': 20, 'qualification': 'Matric'}
{'location': 'Peshawar', 'subject': 'Python', 'gender': 'Male'}

In [81]:
def profile_builder(**info):
    '''This function takes key-word arguments and stores in a form of 
    dictionary. 
    and returns the complete profile of a user in the form of dictionary
    
    arbitrary parameter that revceives keyword arguments is made using **
    it stores keywords arguments as dictionary key-value'''
    
    profile={}
    profile['name'] = name
    profile['fname'] = fname
    profile['age']=age
    profile['qualification'] = qualification
    profile.update(other_info)
    return profile

In [82]:
profile_builder(name='Albert',fname='Einestein', age=20, qualification='Matric',location="Peshawar", subject="Python", gender="Male" )

NameError: name 'fname' is not defined