# Object Oriented Programming

### What is an object?
       - any thing that has some characteristics and behaviours is object
       -  in python every entity we create is an object

In [1]:
class Car:
    pass

In [3]:
car1 = Car()

In [4]:
car2 = Car()

In [5]:
print(type(car1))

<class '__main__.Car'>

In [6]:
name = "Nasir"

In [7]:
print(type(name))

<class 'str'>

In [8]:
num  = 100

In [9]:
print(type(num))

<class 'int'>

In [10]:
lst = [1,3]
print(type(lst))

<class 'list'>

In [14]:

mylist = list((1,2,3))

In [26]:
class Car:
    # attributes / features / characteristics
    wheels = 4
    seats = 6
    color = 'Black'
    engine = '1000CC'
    model  = 'Toyota'
    owner_name = "Asad"
    
    # methods / functions / behaviours
    
    def ignite():
        print("vormmmmmmmmmmmmm")

In [27]:
car1 = Car()

In [23]:
car1.color

'Black'

In [24]:
car1.model

'Toyota'

In [28]:
car2 = Car()

In [29]:
car1.color

'Black'

In [30]:
car2.color

'Black'

In [36]:
class Car:
    # class variable/ class attribute
    wheels = 4
    def __init__(self,make, model, year, color, engine_type):
        # instacne variables/Object variables
        self.make = make
        self.model = model
        self.year = year
        self.color = color
        self.engine_type =engine_type    
    
    # instance methods 
    def ignite(self):
        print("Car engine starting........")
    def speed(self):
        print("Car is moving!!!!!!")

In [37]:
car1 = Car('Honda','Civic',2021, 'Blue', 'Petrol')

In [38]:
car2  = Car("Suzuki", 'Swift',2024, 'White','Diesel')

In [39]:
car1.make

'Honda'

In [40]:
car2.make

'Suzuki'

In [41]:
car1.year

2021

In [42]:
car2.year

2024

In [43]:
car1.ignite()

Car engine starting........

In [49]:
Car.ignite(car1)

Car engine starting........

In [60]:
class Student:
    college = "SMIT"
    def __init__(self, name, fname, roll, course):
        self.name = name
        self.fname =fname
        self.roll = roll
        self.course = course
        
    def entry(self):
        print(f"Mr. {self.name} entering in college")
    
    def attend_class(self):
        print(f"Mr. {self.name} attending {self.course} class")
    def profile(self):
        print(f""" 
               Name       : {self.name}
               Father Name: {self.fname}
               Roll Number: {self.roll}
               Course:    : {self.course}
               College    : {self.college}
               """)

In [71]:
s1  = Student('Sher Afzal', 'Marwat', 1234, 'Python')

In [72]:
s2  = Student('Maulana', 'Mufti Mehmood', 4321, 'JavaScript')

In [73]:
s1.profile()

               Name       : Sher Afzal
               Father Name: Marwat
               Roll Number: 1234
               Course:    : Python
               College    : PeshawarSMIT

In [74]:
s2.profile()

               Name       : Maulana
               Father Name: Mufti Mehmood
               Roll Number: 4321
               Course:    : JavaScript
               College    : PeshawarSMIT

In [75]:
s1.attend_class()

Mr. Sher Afzal attending Python class

In [66]:
s2.attend_class()

Mr. Maulana attending JavaScript class

In [67]:
Student.college

'SMIT'

In [68]:
s1.college

'SMIT'

In [70]:
Student.college = 'PeshawarSMIT'

In [76]:
s1.name = "Asad"