# List :
List are used to store multiple items in single variable.
List are created using square brackets [ ].

In [59]:
# Creating an empty list
empty = []

In [60]:
# Creating a list of students
students = ["Ali", "Ahmad", "Imarn", "Babar", "Haris", "Gohar", "Johar", "Rizwan", "Sami"]
print(students)

['Ali', 'Ahmad', 'Imarn', 'Babar', 'Haris', 'Gohar', 'Johar', 'Rizwan', 'Sami']

# List Lenght

In [61]:
# To determine how many items a list has, use the len() function
print(len(students))

9

# List Items
List items are ordered, muteable, and allow duplicate values.List items are indexed.

In [62]:
# Craeting a list of teachers to show list allow duplicate value and list elements are ordered
teachers = ["Nasir", "Irfan", "Haris", "Sheraz", "Farhan", "Rafiq", "Haris", "Ihsan"]
print(teachers)

['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Rafiq', 'Haris', 'Ihsan']

In [63]:
# change the any element from the above teachers list to show list are muteable
teachers[teachers.index("Rafiq")] = "Khalil"
print(teachers)

['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']

# List Items - Data Types
List items can be of any data types

In [64]:
# Creating a list of string
list1 = ["Apple", "Banana", "Cherry", "Orang"]

In [65]:
# Creating a list of integers
list2 = [1, 4, 7, 3, 6, 0, 12, 23]

In [66]:
# Creating a list of boolean data type
list3 = [True, False, True, True, False]

A list can contain different data types

In [67]:
# Creating a list with string, integers and boolean data type
list4 = ["apple", 54, False, "Orang", True, 21]

# Access List Elements
List items are indexed, the positive list index start from [ 0 ] and the negative list index start from [ -1 ], the index [ -1 ] represent the last element of the list. List elements/items access using indexes

In [68]:
# Creating a list of teachers
teachers = ['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']
print(teachers)

['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']

In [69]:
# Access with positive indexes
print(teachers[3])              # return the number 4 element of the list

Sheraz

In [70]:
# Access with negative indexes 
print(teachers[-1])             # return the last element of the list

Ihsan

# Slicing
It is possible to access a section of items from the list using the slicing operator :, not just a single item

In [71]:
# Creating a list of teachers
teachers = ['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']
print(teachers)

['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']

In [72]:
# Slicing with positive indexes
print(teachers[3:8])              # return the element from number 3 to number 7, 8 not included

['Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']

In [73]:
print(teachers[2:8:1])                         # inclde every element in this range
print(teachers[2:8:2])                         # include every second element in this range

['Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']
['Haris', 'Farhan', 'Haris']

In [74]:
# by leaving out the start index, the range will start from first item and go on to the specific value
print(teachers[:9])

['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']

In [75]:
# By leaving out the end index, the range will start from spacific value and go on to the end of the list
print(teachers[3:])

['Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']

In [76]:
# slicing with negative indexes
print(teachers[-7:-2])    # start from the element number 2 [-2] from the last to the element number 6 [-6], [-7] not include

['Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil']

In [77]:
print(teachers[:-2])     # the rang start from the element number 2 [-2] from the last and go on to the first value of the list

['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil']

In [78]:
print(teachers[-7:])    # the rang start from the end and go on to the spacific value

['Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']

# List Metods :

# Adding items/elements into an existing

# 1. Append

In [79]:
# The append() add an element/item at the end of existing list
teachers = ['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']
teachers.append('Tariq')
print(teachers)

['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan', 'Tariq']

# 2. Insert

In [80]:
# The insert() method add the elemnent at the spacified position
teachers = ['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']
teachers.insert(4, 'Idrees')
print(teachers)

['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Idrees', 'Farhan', 'Khalil', 'Haris', 'Ihsan']

# 3. Extend

In [81]:
# The extend() method adds the specified list elements (or any iterable(list, set, tuple)) to the end of the current list
teachers = ['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']
teachers.extend(['Idrees', 'Tariq'])
print(teachers)

['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan', 'Idrees', 'Tariq']

# 4.Concatenate

In [82]:
# Concatenate the two lists
teachers = ['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']
students = ["Ali", "Ahmad", "Imarn", "Babar", "Haris", "Gohar", "Johar", "Rizwan", "Sami"]

# The '+' sign is used to cancatenate the lists
teachers_students = teachers + students
print(teachers_students)

['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan', 'Ali', 'Ahmad', 'Imarn', 'Babar', 'Haris', 'Gohar', 'Johar', 'Rizwan', 'Sami']

# Deleting items/elements from existing list

# 5. Del

In [83]:
# The del used to delet element of the list via index
teachers = ['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']
del teachers[4]
print(teachers)

['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Khalil', 'Haris', 'Ihsan']

# 6. Remove

In [84]:
# The remove() method remove the element/item with the specified value(itemname)
teachers = ['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']
teachers.remove('Haris')
print(teachers)

['Nasir', 'Irfan', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']

# 7. Pop

In [85]:
# The pop() method deletes the element/item from last of the list by default 
teachers = ['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']
teachers.pop()             # it return deleted element/item

'Ihsan'

In [46]:
# Pop element/item at the spacific position 
# To pop element/item at spacific position use index with pop() method
teachers.pop(5)                        # it return the number 6 element

'Khalil'

# 8. Clear

In [86]:
# The clear() method remove all the elements from the list
teachers = ['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']
teachers.clear()
print(teachers)

[]

# Others Methods

# 9. Copy
You cannot copy a list simply by typing list2 = list1, because list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.There are ways to make a copy of the list

1. One way is to use the built-in List method copy().

In [87]:
# Make a copy of the list with copy() method
teachers = ['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']
copy_teachers = teachers.copy()
print(copy_teachers)

['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']

2. Another way to make a copy is to use the built-in method list().

In [88]:
# Make the copy of the list with list method
teachers = ['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']
copy_teachers_list = list(teachers)
print(copy_teachers_list)

['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']

In [1]:
# Make a copy by another way
teachers = ['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']
copy_of_teachers = teachers[:]
print(copy_of_teachers)

['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']

# 10. Count

In [89]:
# The count() method returns the number of elements/item with the specified value(itemname)
teachers = ['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']
count_teacher = teachers.count('Haris')
print(count_teacher)

2

# 11. Index

In [90]:
# The index() method returns the position/index at the first occurrence of the specified value(itemname)
teachers = ['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']
index_teacher = teachers.index('Irfan')
print(index_teacher)

1

# 12. Reverse

In [91]:
# The reverse() method reverses the order of the elements of the list
teachers = ['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']
teachers.reverse()
print(teachers)

['Ihsan', 'Haris', 'Khalil', 'Farhan', 'Sheraz', 'Haris', 'Irfan', 'Nasir']

# 13. Sort

In [92]:
# Sort the list alphabetically
# The sort() method sorts the list ascending by default
teachers = ['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']
teachers.sort()
print(teachers)

['Farhan', 'Haris', 'Haris', 'Ihsan', 'Irfan', 'Khalil', 'Nasir', 'Sheraz']

In [93]:
# Sorts the list in descending
teachers = ['Nasir', 'Irfan', 'Haris', 'Sheraz', 'Farhan', 'Khalil', 'Haris', 'Ihsan']
teachers.sort(reverse = True)
print(teachers)

['Sheraz', 'Nasir', 'Khalil', 'Irfan', 'Ihsan', 'Haris', 'Haris', 'Farhan']

In [94]:
# sorts lists numerically
numbers = [100, 50, 65, 82, 23, 65, 45, 9, 17]
numbers.sort()
print(numbers)

[9, 17, 23, 45, 50, 65, 65, 82, 100]

In [95]:
# Sorts the list in descending
numbers.sort(reverse = True)
numbers

[100, 82, 65, 65, 50, 45, 23, 17, 9]